*{
	margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
}

// body, ul, li, a, a:active, figure, h2, h5, p, h4, h3 {
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     text-decoration: none;
// }
a[href], a[href]:hover{
  text-decoration: none;
}

.backdrop {
    background:             url("https://images.unsplash.com/photo-1513183881046-a5fa074c681d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80") center;
    background-size:        contain;
    margin:                auto;
    width:                  100vw;
}

.text {
    color:              white;
    border:             4px solid;
    background:         rgb(59, 2, 6);
    mix-blend-mode:     multiply;
/*     font:               bolder 20vw 'Alfa Slab One'; */
	font: bolder 20vw 'Pacifico', cursive;
    text-align:         center;
    margin:             0;
}

.flex-row{
    flex-direction: row;
    display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bar {
  position: fixed;
  width: 100%;
}

button {
  display: block;
  // margin: 2rem auto;
  font-size: 1.2rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.images {
  img {
    width: 100%;
  }
}

.modal-overlay {
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  position: fixed;
  top: 12px;
  padding: 12px;
  background-color: gray;
  border: 1px solid grey;
  width:100vw;
  height:100vh;
}

.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin: 100px auto 0;
    transition: all .8s;
    width: 60%;
}

.modal-header {
    background: #263238;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body {
    padding: 10px 15px;
    text-align: center;
}

.modal-footer {
    background: #263238;
    height: 35px;
    padding: 15px;
}

.close-modal-btn {
    color: white;
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
}

.close-modal-btn:hover {
    color: black;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
// popup_inner start----------------------------
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  // display: flex;
}
.popup_inner {
  // position: absolute;
  // left: 25%;
  // right: 25%;
  // top: 25%;
  // bottom: 25%;
  margin: auto;
  background: white;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:1rem .5rem;
}
// popup_inner end----------------------------
#modal-root {
  position: relative;
  z-index: 999;
}

.app {
  height: 10em;
  width: 10em;
  background: lightblue;
  overflow: hidden;
}

.modal-modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.flex_form{
  position: relative;
}

.form-baselin{
  align-items: baseline;
}

.flex-large{
  // width:50vw;
  // height: 90vh;
}

.flex-row >:first-child {
  margin-top: 50%;
}

.flex-detail{
  width:50vw;
}

.flex-modal{
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // padding: 20px;
  // background-color:rgba(48, 43, 43, 0.712); 
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.flex-crud{
  // position: fixed;
  // top:50vh;
  // width:100%;
  // // left:50vw;
  // padding:20px;
  // background-color: #376d6d29;
      margin: auto;
      background-color:#eaeeee;
      position: fixed;
      box-sizing: border-box;
      padding: 1rem .5rem;
      max-width: 500px;
      padding: 12px;
      border:1px solid #ccc;
      border-radius: 4px;    
      // top: 50%;
      // left: 50%;
      // -webkit-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%);
}


.btn_line{
  // margin:unset;
  margin: 0 0;
}

.header_line{
  padding-bottom: .2rem;
    border-bottom: 1px solid rgba(34,36,38,.15);
}


// card
.card {
    position: relative;
    width: 140px;
    height: 180px;
    text-align: center;
}

.card__side {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 20px;
    backface-visibility: hidden;
    transition: transform .53s;
}
.back {
    transform: rotateY(180deg);
    background-image: url(https://images.unsplash.com/photo-1557834119-322cc607b3b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
 }

.card:hover .front { 
  transform: rotateY(180deg); 
  }
.card:hover .back  { 
  transform: rotateY(0); 
 
}


input[type=text],
input[type=date],
input[type=number],
input[type=email],
input[type=tel] {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; }




.about_tab {
  display: none; }

.about_tab:target {
  display: block; }


  //
  .page{
   
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
  

  html, body, #react-container, #react-container > div {
  height: 100%; }

body {
  font-family: sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6,
th, header {
  font-family: sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: underline; }

div.page {
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; 
flex-direction:column;
}

section > div:not(.about-menu, .whoops-404),
section > section {
  margin: 1em; }

section.events,
section.products,
section.contact {
  // -webkit-box-flex: 1;
  //     -ms-flex-positive: 1;
  //         flex-grow: 1;
  // margin: 1em;
 
}

  section.events h1,
  section.products h1,
  section.contact h1 {
    font-size: 3em;
    color: slategray; }

// div.home {
//   height: 100%;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//       -ms-flex-direction: column;
//           flex-direction: column;
//   -ms-flex-pack: distribute;
//       justify-content: space-around;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center; }
//   div.home h1 {
//     font-size: 3em;
//     color: slategray; }
//   div.home > div {
//     background-color: slategray;
//     padding: 1em;
//     border-top: dashed .5em ghostwhite;
//     border-bottom: dashed .5em ghostwhite;
//     width: calc(100% - 2em);
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-pack: distribute;
//         justify-content: space-around;
//     -ms-flex-wrap: wrap;
//         flex-wrap: wrap; }
//     div.home > div a {
//       font-size: 2em;
//       color: ghostwhite;
//       -ms-flex-preferred-size: 200px;
//           flex-basis: 200px; }

// section.about > section {
//   padding: 2em; }

// div.whoops-404 {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 99;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   background-color: darkred;
//   color: ghostwhite;
//   font-size: 1.5em; }
//   div.whoops-404 a {
//     color: white;
//     text-decoration: underline;
//     margin: 1em; }
//     div.whoops-404 a:hover {
//       color: yellow;
//       text-decoration: none; }
// .main-menu{
//   width: 25%;
// }
.main-menu{
  width: 100%;
}
nav.main-menu ul{
    display: flex;
    flex-direction: row;
    background-color: #729cc5;
    color: ghostwhite;
    width: 100%;
  }


nav.main-menu li a {
  display: block;
  color: ghostwhite;
  text-align: center;
  padding: 0.5em 2em;
  font-size: 1.2em;
  text-decoration:none;
  border-left: 4px solid transparent;
  //   padding: 10px;
  //   color: #4b4f56;
  //   border-left: 4px solid transparent;
}


.main-menu li a:hover, .main-menu li.current a {
    // font-weight: bold;
    background: #fff;
    color:#4267b2;
    border-left: 4px solid #4267b2;
  }


.info-box{
  position: absolute;
  top:0;
  width:100%;
  height: 100%;
  background-color: #263238;
  display: flex;
  color: #ccc;
}


.modal-modalx {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

// modal3
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.v_h{
   visibility: hidden;
}
.v_v{
   visibility: visible;
}

 
.login_form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image:url(https://images.unsplash.com/photo-1462899006636-339e08d1844e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.flip-card {
    // width: 500px;
    // border: 1px solid #ddd;
    // padding: 2rem;
    transition: all 1s ease-in,
}

.flip-card-inner {
    // position: relative;
    // width: 100%;
    // height: 100%;
    // text-align: center;
    // transition: transform 0.6s;
    // transform-style: preserve-3d;
    // box-shadow: 0 4px 8px 0 rgba(233, 230, 230, 0.2);
}

 


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}

.flip-card-front {
    color:wheat;
    // z-index: 2;
}

.flip-card-back {
    color: gray;
    transform: rotateX(180deg);
    // z-index: 1;
}

.form {
    background-color: #ffffff80;
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  .message {
      margin: 15px 0 0;
      color: #414040;
      a {
        color: #4e4caf;
        text-decoration: none;
        &:hover{
          color: #864da5;
        }
      }
    }
  button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #3d6395;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  input  {
    margin: 0 0 15px;
    font-size: 16px;
    padding: 15px;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 0.25rem;
    outline: none;
  }
}




.table_footer{
display: flex;
}


 tr:hover{
  background-color: pink  ;
 }



 .orderno{
  padding: 1rem;
  table {
    border-spacing: 0;
    border: 1px solid black;
    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }
    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      :last-child {
        border-right: 0;
      }
    }

 }
}
